<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>weather</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">#}

</head>

<body>
<nav class="row" style="background: #337ab7; color: white;">
    <h1 class="col-md-3 text-center">Weather</h1>
</nav>
<br />
<br />
<center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
        <div class="input-group">

            <select class="form-control" name="country" id="country">
                <option value="">Select Country</option>
                {% for country in countries %}
                    {% for key, value in country.items() %}
                        <option value="{{ value }}">{{ key }}</option>
                    {% endfor %}
                {% endfor %}
            </select>

            <form>
</center>
<div class="row">

</div>
</body>
</html>
